.hidden {
    display: none;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
    color:white;
}

header {
    background-color: black;
    padding: 10px 0; 
}

#main-logo {

}